.IButton {
  margin: 0;
  padding: 5px;
  bottom: none;
  border-radius: 50%;
  border: none;
  color: #3a383d;
  font: inherit;
  background-color: #e9e9e9;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: background-color 250ms linear;
}

.IButton:hover,
:focus {
  background-color: #188ce8;
  color: white;
}
.Button{
min-width: 150px;
padding: 10px;
margin-top: 25px;
font-size: 16px;
font-weight: 600;
border-radius: 5px;
background-color: #e9e9e9;
color: #3a383d;
transition: background-color 250ms linear;}
.Button:hover,
:focus {
  background-color: #188ce8;
  color: white;
}